@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Content/easyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/easyUI/locale/easyui-lang-en.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script>
        $(function () {
            $('#addDiv').css("display", "none");
            $('#editDiv').css("display", "none");
            loadData();
        });

        function loadData(pars) {
            $('#tt').datagrid({
                url: '/ArticleFileUpload/GetArticleFile',
                title: 'Article Info Table',
                fitColumns: true,
                nowrap: false,
                idField: 'ID',
                loadMsg: 'Loading User Information...', // Loading message.
                pagination: true, // whether speprate page.
                singleSelect: false, // whether Select a single row.
                pageSize: 10, // Page Size
                pageNumber: 1, // Start Page
                pageList: [10, 15, 20],
                queryParams: pars, // send parameters to back-end.
                columns: [[
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
					{ field: 'ID', title: 'Article Id', width: 80 },
					{ field: 'Title', title: 'Title', width: 120 },
                    { field: 'Author', title: 'Author', width: 120 },
                    { field: 'ISBN', title: 'ISBN', width: 120 },
					{ field: 'PublishDate', title: 'Publish Date', width: 120 }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {
                        deleteInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: 'Add Article',
                    iconCls: 'icon-add',
                    handler: function () {
                        addInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: 'Edit Article',
                    iconCls: 'icon-edit',
                    handler: function () {
                        editInfo();
                    }
                }],
            });
        }

        //Modify User Info.
        function editInfo()
        {
            var rows = $('#tt').datagrid('getSelections');

            if (rows.length != 1) {
                $.messager.alert("Error Message", "Please select one user!", "error")
                return;
            }

            // display editDiv div
            $('#editDiv').css("display", "block");

            //
            $("#editFrame").attr("src", "/ArticleFileUpload/EditArticleFileUploadInfo/?id=" + rows[0].ID)

            // dialog for editForm (easyUI)
            $('#editDiv').dialog({
                title: "Edit User Information",
                modal: true,
                collapsible: true,
                width: 600,
                height: 700,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //check input data !----------------

                        //get child window object.
                        var chilidWindow = $("#editFrame")[0].contentWindow;
                        // use child window function called "subEditFrom".
                        chilidWindow.subEditForm();
                        $('#tt').datagrid('reload'); // reload info.
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#editDiv').dialog('close');
                        $("#editForm input").val("");
                    }
                }]
            });
        }

        // After edit user
        function afterEdit()
        {
            $('#editDiv').dialog('close');
            $('#tt').datagrid('reload'); // reload info.
            $("#editForm input").val(""); // clear input last data.
        }

        //Add User Info.
        function addInfo()
        {
            // display form
            $('#addDiv').css("display", "block");

            //
            $("#addFrame").attr("src", "/ArticleFileUpload/AddArticleFileUploadInfo")

            // dialog for addForm (easyUI)
            $('#addDiv').dialog({
                title: "Add Article or File Information",
                modal: true,
                collapsible: true,
                width: 600,
                height: 700,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //check input data !----------------

                        //get child window object.
                        var chilidWindow = $("#addFrame")[0].contentWindow;
                        // use child window function called "subEditFrom".
                        chilidWindow.subAddForm();
                        $('#tt').datagrid('reload'); // reload info.
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#addDiv').dialog('close');
                        $('#tt').datagrid('reload'); // reload info.
                        $("#addForm input").val("");
                    }
                }]
            });
        }

        // afterAdd
        function afterAdd() {
            $('#addDiv').dialog('close');
            $('#tt').datagrid('reload'); // reload info.
            $("#addForm input").val(""); // clear input last data.
        }

        //Delete User Info.
        function deleteInfo()
        {
            // get all seleted rows.
            var rows = $('#tt').datagrid('getSelections');

            //
            if (!rows || rows.length == 0) {
                // alart error message
                $.messager.alert("Error Message", "Please select item to delete!", "error");
                return;
            }

            if ($.messager.confirm("Message", "Are you sure you want to remove this user?", function (r) {
                if (r) { // user click "OK"
                    // get what want to delete.
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ","
                    }

                    // delete last ","
                    strId = strId.substr(0, strId.length - 1);

                    // request to server-side (post method)
                    $.post("/ArticleFileUpload/DeleteArticleInfo", { "strId": strId }, function (data) {
                            if (data = "Ok") {
                                $('#tt').datagrid("reload");
                                $('#tt').datagrid("clearSelections");
                            }
                            else{

                            }
                    });
                }
            }));
        }
    </script>
</head>
<body>

    <!---------------------------------- START Display User Infromation --------------------------->
    <div class="container">
        <div class="row">
            <div>
                <table id="tt" class="table-responsive col-md-2 col-md-8" title="" iconcls="icon-edit"></table>
            </div>
        </div>
    </div>

    <!---------------------------------- END Display User Infromation ------------------------------>
    <!---------------------------------- START Add User Information dialog ------------------------->
    <div id="addDiv">
        <iframe id="addFrame" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <!---------------------------------- END Add User Information dialog --------------------------->
    <!----------------------- START Update User Information -------------------------->
    <div id="editDiv">
        <iframe id="editFrame" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <!----------------------- END Update User Information ---------------------------->
</body>
</html>

