@model IEnumerable<OA.Model.WF_Temp>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="/wf_instance/StartWorkFlow/?id=@item.ID">@Html.DisplayFor(modelItem => item.TempName)</a>
                </td>
            </tr>
        }   
    </table>
</body>
</html>
