@model IQueryable<OA.Model.UserInfo>
@{ 
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <a asp-controller="UserInfo" asp-action="Add" class="navbar-brand">Add User</a>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>User Gender</th>
                    <th>User Age</th>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserName</td>
                        <td>@item.UserGender</td>
                        <td>@item.UserAge</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>